{% extends 'layout.html' %}
{% block heading %}Explore DevilsAbroad experiences{% endblock %}
{% block content %}

<!-- location filter -->
<label>Location: </label>
<select name= programs method="GET" action="/">
  {% for program in programs %}
  <option value= {{program.country}} SELECTED>{{program.country}}</option>"
  {% endfor %}
</select>

<!-- program filter -->
<label>Program Name: </label>
<select name= programs method="GET" action="/">
  {% for program in programs %}
  <option value= {{program.program_name}} SELECTED>{{program.program_name}}</option>"
  {% endfor %}
</select>

<!-- major filter -->
<!-- <label>Major: </label>
<select name= locations method="GET" action="/">
  {% for program in locations %}
  <option value= {{location}} SELECTED>{{location}}</option>"
  {% endfor %}
</select> -->

<!-- keywords filter (very advanced) -->
<!-- <label>Major: </label>
<select name= locations method="GET" action="/">
  {% for location in locations %}
  <option value= {{location}} SELECTED>{{location}}</option>"
  {% endfor %}
</select> -->

<ul>
    {% for course in courses %}
    <li><a href="{{url_for('course_review', course_name=course.course_name)}}">
      {{course.course_name}}
    </a></li>
    {% endfor %}
</ul>

<hr/>
<p>{{courses|length}} course{{courses|length|pluralize}}
  found in the database.</p>

{% endblock %}
