{% extends 'layout.html' %}
{% block heading %}Explore DevilsAbroad experiences{% endblock %}
{% block content %}

<style>
  .card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    /* width: 90%; */
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .courseName {
    width: 30%;
    /* background-color: blue; */
  }

  .dukeCode {
    width: 20%;
    /* background-color: green; */
  }
  .programName {
    width: 30%;
    /* background-color: yellow; */
  }
  .rating {
    width: 10%;
  }
  .num {
    width: 10%;
  }
  
</style>

<a href="/filter"><input type="button" value="Search Again"></a>

<div class="card" id="course_card" style="background-color: gray">
  <div style="width: 30%">
    {{"Course Name"}}
  </div>
  <div style="width: 20%">
    {{"Duke Code"}}
  </div>
  <div style="width: 30%">
    {{"Program"}}
  </div>
  <div style="width: 10%">
    {{"Average Rating"}}
  </div>
  <div style="width: 10%">
    {{"# of Reviews"}}
  </div>
</div>

{% for course in courses %}
<div class="card" id="course_card">
  <div class="courseName">
    <a href="{{url_for('course_review', course_uuid=course[0].uuid)}}">{{course[0].course_name}}</a>
  </div>
  <div class="dukeCode">
    {{course[0].duke_code}}
  </div>
  <div class="programName">
    {{course[0].program_name}}
  </div>
  <div class="rating">
    {{ course[1] }}
  </div>
  <div class="num">
    {{ course[2] }}
  </div>
</div>
{% endfor %}

<hr/>

{% endblock %}
