{% extends 'layout.html' %}
{% block heading %}Explore DevilsAbroad experiences{% endblock %}
{% block content %}

<form action="{{ url_for('filter_reviews')}}" method="POST">
    {{ form.csrf_token }}

    <p>{{form.country.label}}: {{ form.country (onchange = "filter_country()") }}</p>
    <p>{{form.program.label}}: {{ form.program }}</p>
    <p>{{form.majorCode.label}}: {{ form.majorCode }}</p>
    <input type="submit" value="Go">
</form>

<script>
    function filter_country() {
        let country_select = document.getElementById('country')
        let program_select = document.getElementById('program')
        
        country = country_select.value;

        fetch('/filter/' + country, 
            {  headers : { 
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
            }).then(function(response) {
            response.json().then(function(data) {
                console.log(data);
                let optionHTML = '';
                for (let program of data.programs) {
                    optionHTML += '<option value= "' + program + '">' + program  + '</option>';
                }

                program_select.innerHTML = optionHTML;
            }).catch(function(error) {
                console.log("couldn't get a program based off the country");
            });
        });
    }
</script>

{% endblock %}
