<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html xmlns="http://www.w3.org/1999/xhtml">
  <nav>
      <head>
        <title>Devils Abroad</title>
      </head>
      <h1>Devils Abroad</h1>
      <ul>
          <meta name="description" content="A Flask website for Duke students to share their global ed experiences"/>
          <meta name="keywords" content="flask, db-beers, Duke"/>
          <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
          <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
          <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
          <li><a href="/">Home</a>
          {% if g.user %}
              <li>Hello {{ g.user['username'] }}!</li>
              <!-- <li><a href="{{ url_for('auth.my_account') }}">My Account</a> -->
              <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
              <li><a href="{{ url_for('auth.register') }}">Register</a>
              <li><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
      </ul>
  </nav>
  <section class="content">
      <h1>
        {% block heading %}{% endblock %}
      </h1>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
  </section>
</html>
