{% extends 'layout.html' %}
{% block heading %}Review my experience{% endblock %}
{% block content %}

<h1>Sign In</h1>
<form action="" method="post" novalidate>
    <p>
        {{ form.location.label }}<br>
        {{ form.location }}
    </p>

    <p>
        {{ form.program.label }}<br>
        {{ form.program }}
    </p>

    <p>
        {{ form.course.label }}<br>
        {{ form.course }}
    </p>

    <p>
        {{ form.rating.label }}<br>
        {{ form.rating }}
    </p>

    <p>
        {{ form.difficulty.label }}<br>
        {{ form.difficulty }}
    </p>

    <p>
        {{ form.thoughts.label }}<br>
        {{ form.thoughts }}
    </p>
    

    <input type = "submit" value = "Go">
    {{ form.csrf_token}}
</form>
{% endblock %}