{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <body style="background-color: lightblue;"></body>
  <form method="post">
      <label for="email">Duke Email</label>
      <input name="email" id="email" required> <br>

      <label for="name">Full Name</label>
      <input name="name" id="name" required> <br>

      <label for="major">Primary Major</label>
      <input name="major" id="major" required> <br>

      <label for="grad_year">Graduation Year</label>
      <input name="grad_year" id="grad_year" required> <br>

      <label for="username">Username</label>
      <input name="username" id="username" required> <br>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" required> <br>

      <label for="confirmpassword">Confirm Password</label>
      <input type="password" name="confirmpassword" id="confirmpassword" required> <br>

      <input type="submit" value="Register">
  </form>
{% endblock %}