{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <body style="background-color: lightblue;"></body>
  <form method="post">
      <label for="email">Duke Email</label>
      <input name="email" id="email" required> <br>

      <label for="name">Full Name</label>
      <input name="name" id="name" required> <br>

      <label for="major">Primary Major</label>
      <select name="major" id="major" required> <br>
        {% for major in majors %}
          <option value= "{{major[0]}}" SELECTED>{{major[1]}}</option >
        {% endfor %}
        </select>





      <label for="term">Term you went abroad (e.g. Spring 2019)</label>
      <input name="term" id="term" required> <br>

      <label for="program_name">Program Name (e.g. Duke in Berlin)</label>
      <select name="program_name" id="program_name" required> <br>
          {% for program in programs %}
            <option value= "{{program[0]}}" SELECTED>{{program[1]}}</option >
          {% endfor %}
          </select>

      <label for="username">Username</label>
      <input name="username" id="username" required> <br>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" required> <br>

      <label for="confirmpassword">Confirm Password</label>
      <input type="password" name="confirmpassword" id="confirmpassword" required> <br>

      <input type="submit" value="Register">
  </form>
{% endblock %}